/* CSS files add styling rules to your content */
body {
  margin: 2em;
  font-family: "Lucida Console", Courier, monospace;
  background-color: #008080;
  color: #40e0d0;
  padding: 15px;
}

h1 {
  font-family: cursive;
  color: #f5f5f5;
}

button {
  padding: 12px;
  border-radius: 12px;
}

button:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#numLives {
  font-size: 35px;
  color: #f0fff0;
}

#timeLeft {
  font-size: 35px;
  color: #f0fff0;
}

#button1 {
  background: lightgreen;
}

#button1:active,
#button1.lit {
  background-image: url(https://cdn.glitch.global/78e292de-927d-4616-8544-80921fa461c8/file-20210304-15-n1wg4d.jpg?v=1650590121122);
  background-size: 100%;
}

#button2 {
  background: lightblue;
}

#button2:active,
#button2.lit {
  background: url(https://cdn.glitch.global/78e292de-927d-4616-8544-80921fa461c8/file-20210401-13-z6rl6z.jpg?v=1650590124418);
  background-size: 200%;
}

#button3 {
  background: pink;
}

#button3:active,
#button3.lit {
  background: url(https://cdn.glitch.global/78e292de-927d-4616-8544-80921fa461c8/male_pink_salmon_spawning_colors.jpg?v=1650590127039);
  background-size: 100%;
}

#button4 {
  background: lightyellow;
}
#button4:active,
#button4.lit {
  background: url(https://cdn.glitch.global/78e292de-927d-4616-8544-80921fa461c8/S11---TRUE-SUN-P3270002_3.jpg?v=1650590176285);
  background-size: 100%;
}

/*end of required buttons*/

#button5 {
  background: lightsalmon;
}

#button5:active,
#button5.lit {
  background: url(https://cdn.glitch.global/78e292de-927d-4616-8544-80921fa461c8/GettyImages-521106495_351363282_615591052_0001-scaled.jpg?v=1650590217841);
  background-size: 125%;
}

#button6 {
  background: lightcyan;
}

#button6:active,
#button6.lit {
  background: url(https://cdn.glitch.global/78e292de-927d-4616-8544-80921fa461c8/IMG_0230_1024x1024%402x.jpg?v=1650590181652);
  background-size: 100%;
}
